{% extends '::base.html.twig' %}

{% block title %}Manage Websites{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        {% for entity in entities %}
            <li><a href="#site-{{ entity.id }}" data-toggle="tab">{{ entity.websitename }}</a></li>
        {% endfor %}
    </ul><!-- nav nav-tabs -->

    <div class="tab-content" id="tab-content">
        {% for entity in entities %}
            <div class="tab-pane {% if app.user.activewebsite.id == entity.id %}active{% endif %} fade in" id="site-{{ entity.id }}">
                <h3>{{ entity.websitename }}</h3>
                
                <span class="activate-website-wrapper">
                    {% if app.user.activewebsite.id == entity.id %}
                        <p>You are currently managing this site.</p>
                    {% else %}
                        <a id="{{ entity.id }}" href="{{ path("websites_set_active_site", {id : entity.id}) }}" class="activate-website">Manage this site</a>
                    {% endif %}
                </span><!-- activate-website-wrap -->

                <ul>
                    <li>Website launch date: {{ entity.websitecreatedat|date }}</li>
                    <li>CMS renewal date: {{ entity.websiterenewaldate|date }}</li>
                </ul>
                
                {% if app.user.hasrole("ROLE_SUPER_ADMIN") %}
                    <ul class="btn-group">
                        <li><a href="{{ path("websites_edit", {id : entity.id}) }}" class="btn">Edit</a></li>
                    </ul>
                {% endif %}
            </div><!-- tab-content -->
        {% endfor %}
    </div><!-- tab-content -->
{% endblock %}
    
{% block js %}
    <script src="/js/websites.js"></script>
    
    <script>
        /*$(document).ready(function () {
            websites = new Mh.app.websites();
            websites.attachEventListeners("index");
        });*/
    </script>
{% endblock %}