{% extends '::base.html.twig' %}

{% block title %}Manage Websites{% endblock %}

{% block body %}

	<h1>Website</h1>
	
	<table class="record_properties">
	    <tbody>
	        <tr>
	            <th>Id</th>
	            <td>{{ entity.id }}</td>
	        </tr>
	        <tr>
	            <th>Website_name</th>
	            <td>{{ entity.websitename }}</td>
	        </tr>
	        <tr>
	            <th>Website_created_at</th>
	            <td>{{ entity.websitecreatedat }}</td>
	        </tr>
	        <tr>
	            <th>Website_renewal_date</th>
	            <td>{{ entity.websiterenewaldate }}</td>
	        </tr>
	        <tr>
	            <th>Website_active</th>
	            <td>{{ entity.websiteactive }}</td>
	        </tr>
	    </tbody>
	</table>
	
	<ul class="record_actions">
	    <li>
	        <a href="{{ path('websites') }}">
	            Back to the list
	        </a>
	    </li>
	    <li>
	        <a href="{{ path('websites_edit', { 'id': entity.id }) }}">
	            Edit
	        </a>
	    </li>
	    <li>
	        <form action="{{ path('websites_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">Delete</button>
	        </form>
	    </li>
	</ul>
{% endblock %}